<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
            <package pattern="Skyline.DataMiner.CICD.*" />
        </packageSource>

        <!-- Reusable Workflow -->
        <packageSource key="PrivateGitHubNugets">
            <package pattern="Skyline.DataMiner.CICD.*" />
        </packageSource>

        <!-- MichielOD -->
        <packageSource key="GitHub">
            <package pattern="Skyline.DataMiner.CICD.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>