root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = crlf
trim_trailing_whitespace = true

[*.cs]
dotnet_sort_system_directives_first = true

# SA1501: Statement should not be on a single line
dotnet_diagnostic.SA1501.severity = none

# S1172: Unused method parameters should be removed
dotnet_diagnostic.S1172.severity = none
